{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">CRUD</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Crud Add
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="update5/{{ familles.id }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ familles.firstname1 }}" name="firstname1" placeholder="First Name1" id="inputFirst1" required>
                                    <label for="inputFirst1">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ familles.lastname1 }}" name="lastname1" placeholder="Last Name1" id="inputLast1" required>
                                    <label for="inputLast1">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ familles.etat1 }}" name="etat1" placeholder="etat1" id="inputetat1" required>
                                    <label for="inputetat1">Etat</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" value="{{ familles.sante1 }}" name="sante1" placeholder="Sante1" id="inputsante1">
                                    <label for="inputsante1">sante</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" value="{{ familles.profession1 }}" name="profession1" placeholder="profession1" id="inputprofession1">
                                    <label for="inputprofession">profession</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" value="{{ familles.revenu1 }}" name="revenu1" placeholder="revenu1" id="inputrevenu1">
                                    <label for="inputrevenu1">revenu</label>
                                </div>
                            </div>
                        </div>
                    </div>
                         <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ familles.firstname2 }}" name="firstname2" placeholder="First Name2" id="inputFirst2" required>
                                    <label for="inputFirst2">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ familles.lastname2 }}" name="lastname2" placeholder="Last Name2" id="inputLast2" required>
                                    <label for="inputLast2">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ familles.etat2 }}" name="etat2" placeholder="etat2" id="inputetat2" required>
                                    <label for="inputetat2">Etat</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" value="{{ familles.sante2 }}" name="sante2" placeholder="Sante2" id="inputsante2">
                                    <label for="inputsante2">sante</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" value="{{ familles.profession2 }}" name="profession2" placeholder="profession2" id="inputprofession2">
                                    <label for="inputprofession2">profession</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="tel" value="{{ familles.revenu2 }}" name="revenu2" placeholder="revenu2" id="inputrevenu2">
                                    <label for="inputrevenu2">revenu</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}